Este es la seccion USUARIOS
<br>
Tabla usuarios 

{{#each objUsers}}
<h2> {{credencial_usuario}}</h2>
<h2> {{nombre}}</h2>
{{/each}}
<br>
<br>
<a href="/">HOME</a>
<br>
<a href="/usuarios">USUARIOS</a>
<br>
<a href="/about">ABOUT</a>
